.InputsAreas {
  padding: 12px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: rgb(238, 238, 238);
  width: 320px;
  height: 75vh;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
}
textarea {
  border-radius: 12px;
  resize: none;
}
.DropArea {
  color: white;
  padding: 12px;
  border-radius: 12px;
  background: linear-gradient(90deg, #4c00ff, #d30000c5, #4c00ff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
  background-size: 200% 100%;
  background-position: 0% 0%;
  animation: moverGradiente 3s ease-in-out infinite alternate;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.DropArea:hover {
  transform: scale(1.05);
}

@keyframes moverGradiente {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
